body {
  margin: 0;
  padding: 0;
  background-color: #1C1C1C;
  font-family: 'karla', sans-serif;
  color: #293264;
}

.container {
  height: 550px;
  width: 550px;
  background-color: #F5F7FB;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -275px;
  /* -1/2 width */
  margin-top: -275px;
  /* -1/2 height */
}

.start {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start--button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-family: 'inter', sans-serif;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.start--description{
  margin: 20px;
  font-size: 1rem;
}

.start--title {
  margin: 0;
  font-size: 2rem;
}

.top--image {
  position: absolute;
  right: 0;
  height: 140px;
  width: 140px;
}

.bottom--image {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
}

/* Quiz components style */
.quiz{
  display: flex;
  flex-direction: column;
  margin: 5px 75px;
}

.quiz--question{
  margin: 0;
  margin-bottom: 5px;
  font-size: 0.8rem;
  padding: 0;
}

.quiz--answers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  font-size: 0.6rem;
  font-weight: 700;
}

.radio-from {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.radio-input{
  display: none;
}

.radio-label {
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.radio-input:checked + .radio-label {
  background-color: #D6DBF5;
  border: none;
  
}

.quiz hr {
  width: 400px;
  border: none;
  margin: 0;
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding-left: 0;
  padding-bottom:4px ;
}

.questions {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.check--button{
  border: none;
  background-color: #4D5B9E;
  padding: 10px 20px;
  border-radius: 10px;
  color: #F5F7FB;
  font-family: 'inter';
  font-size: 0.8rem;
  margin-top: 20px;
  cursor: pointer;
}