@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Karla:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ============Base============ */
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: 'Karla', sans-serif;
}

.main--container {
  width: 100%;
  height: 100%;
  background-color: #F5F7FB;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============MAIN CONTAINER============ */
.blob1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vmax;
  animation: move1 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move1 {
  0%   { transform: scale(1)   translate(-60px, -50px); }
  38%  { transform: scale(0.8) translate(30vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8) translate(30vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.5) translate(-20vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.5) translate(-20vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(-60px, -50px); }
}
.content-container{
  z-index: 10;
  max-width: 950px;
}

.content-container {
  padding-top: 0 16px;

}

/* ============START============ */
.start-content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.2rem;
}

.start {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start--button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-family: 'inter', sans-serif;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.start--description{
  margin: 20px;
  font-size: 1rem;
}

.start--title {
  margin: 0;
  font-size: 2rem;
}

.score{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 1rem;
}


/* ===============Quiz===================== */
.quiz-container{
  margin-bottom: 0.65rem;
  width: 100%;
  text-align: left;
}

.quiz--title{
  margin-bottom: 0.5rem;
  color: rgba(41, 50, 100, 1);
  font-size: 1rem;
}

.answer {
  padding: 4px 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  color: #293264;
  font-weight:600;
  font-size: 0.7rem;
  margin-right: 0.6rem;
}

#correct.answer{
  background-color: #94D7A2;
  border: 1px solid #94D7A2;
}

#incorrect.answer.selected{
  background-color: #F8BCBC;
  border: 1px solid #F8BCBC;
}

#not-selected.answer{
  background-color: rgba(41, 50, 100, .4);
  border: 1px solid rgba(41, 50, 100, .4);
}
.quiz-container hr {
  width: 400px;
  border: none;
  border-top: 1px solid #ccc;
  margin-top: 0.5rem;
  padding-left: 0;
  padding-bottom:4px;
}

.selected {
  background-color: #D6DBF5;
  border: none;
}

.check{
  border: none;
  background-color: #4D5B9E;
  padding: 10px 20px;
  border-radius: 10px;
  color: #F5F7FB;
  font-family: 'inter';
  font-size: 0.8rem;
  cursor: pointer;
}

/* =========== BREAKPOINT =========== */
@media  only screen and (min-width: 350px){
  .quiz--title{
    font-size: 0.85rem;
  }
  .answer{
    font-size: .65rem;
    margin-bottom: .3rem;
  }
}

@media  only screen and (min-width: 400px){
  .quiz--title{
    font-size: 1.1rem;
  }
  .answer{
    font-size: .8rem;
    margin-bottom: .3rem;
  }
  .check{
    font-size: 1rem;
  }
}

@media  only screen and (min-width: 630px){
  .content-container{
    padding: 0 32px;
  }
  .quiz-container{
    margin-bottom: .85rem;
  }
  .quiz--title{
    font-size: 1.3rem;
    margin-bottom: .9rem;
  }
  .answer{
    font-size: .9rem;
    margin-bottom: .45rem;
  }
  .check{
    font-size: 1.2rem;
  }
}